@import "base.css";

.root {
    -fx-font-size: 20px;
}

.bg-color-darkblue {
    -fx-padding: 10px;
}

.label-border-style {
    -fx-font-size: 20px;
    -fx-pref-width: 360px;
    -fx-pref-height: 50px;
    -fx-border-radius: 12px;
}

.btn-medium {
    -fx-font-size: 20px;
    -fx-pref-height: 50px;
    -fx-pref-width: 250px;
}

.btn-large {
    -fx-font-size: 22px;
    -fx-pref-height: 50px;
    -fx-pref-width: 380px;
}

.btn-img {
    -fx-min-height: 50px;
}

.img-container {
    -fx-min-height: 60px;
    -fx-padding: 10px;
}

.img-container-large {
    -fx-min-height: 100px;
}

.img-container-xlarge {
    -fx-pref-width: 320px;
    -fx-pref-height: 320px;
}

.border-color-darkblue {
    -fx-border-radius: 40px;
    -fx-padding: 30px;
}

.input-field {
    -fx-font-size: 20px;
    -fx-pref-width: 350px;
    -fx-pref-height: 50px;
    -fx-background-radius: 12px;
}

.font-size-medium {
    -fx-font-size: 22px;
}

.min-width-medium {
    -fx-min-width: 50px;
}

.min-width-large {
    -fx-min-width: 180px;
}

.min-width-xlarge {
    -fx-min-width: 260px;
}


.min-height-medium {
    -fx-min-height: 30px;
}

.min-height-large {
    -fx-min-height: 40px;
}

.min-height-xlarge {
    -fx-min-height: 50px;
}